h1 { 
    color: rgb(255, 255, 255);
    font-size: 2em;
    text-align: center;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

#status { 
    color: rgb(0, 255, 38);
    font-size: 3em;
    text-align: center;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

body { 
    background-color: rgb(38, 38, 38);
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin: 30px;
}

.btn {
    padding-inline: 20px; /* Increased padding */
    margin: 5px;
    text-align: center;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh; 
}